.select__wrapper,
.select__wrapper *:focus {
  outline: 0;
}

.select__wrapper {
  cursor: pointer;
  outline: none;
  position: relative;
}

.select__input {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.select__container {
  padding: 2%;
  position: relative;
  border: 1px solid #d3d3d3;
}

.select__container.error {
  border-color: #ff5a57;
}

.select__container.success {
  border-color: #2fca6f;
}

.select__container.disabled {
  background: #f8f8f8;
}

.select__options-item {
  cursor: none;
  background: #fff;
  color: #4a4a4a;
  transition: background 0.4s, color 0.2s;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select__options-item-show-cursor {
  cursor: pointer;
}

.select__no-mouse {
  cursor: none;
}

.select__hover-active {
  background: #ff5a57;
  color: #fff;
}

.select__options-item.active {
  background: #d3d3d3;
  color: #fff;
}

.select__options-container-animate {
  z-index: 1;
  margin-top: 2%;
  position: absolute;
  background: #fff;
  width: 100%;
  opacity: 0;
  left: 50%;
  transform-origin: 0 0;
  transition: transform 0.4s, opacity 0.2s;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08), 0 0 1px 0 rgba(0, 0, 0, 0.12);
  z-index: -1;
  transform: translate(-50%, 0) scale(1, 0);
}

.select__options-container-animate.show {
  transform: translate(-50%, 0) scale(1, 1);
  opacity: 1;
  z-index: 3;
}

.select__options-container {
  border: 1px solid #bbbbbb;
  z-index: 1;
  margin-top: 2%;
  position: absolute;
  background: #fff;
  width: 100%;
  left: 50%;
  display: none;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08), 0 0 1px 0 rgba(0, 0, 0, 0.12);
  transform: translateX(-50%);
}

.select__options-container.show {
  display: block;
}

.select__dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select__dropdown-icon {
  width: 20px;
  height: 20px;
}

.select__dropdown-icon:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-style: solid;
  display: block;
  width: 0;
  border-width: 8px 8px 0;
  border-color: #e3e3e3 transparent;
}

.select__dropdown-icon-container {
  position: relative;
}
